<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Income Classifier</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200 min-h-screen flex justify-items-center items-center">
    <main class="bg-white max-w-4xl w-full mx-auto rounded-lg shadow-lg p-8">
        <div class="text-center mb-8">
            <h1 class="text-center text-5xl font-bold mb-2">Income Classifier</h1>
            <p class="text-xl text-gray-700">Predict your income something something bla bla bla (todo)</p>
        </div>

        <form action="response" method="post" enctype="multipart/form-data" class="flex flex-col items-center justify-items-center">
            {% for key, label in feature_labels.items() %}
            <div class="flex w-2/3 py-2 items-center justify-between">
                <label for="{{ key }}">{{ label }}</label>
                <select class="w-1/2 border px-3 py-2 rounded-lg" name="{{ key }}" id="{{ key }}">
                    {% for choice in feature_choices.get(key) %}
                        <option value="{{ choice }}">{{ choice }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
                <!-- <div class="input_file_upload">
                    <input type="file" name="input_file" id="input_file">
                </div> -->
        
            <div class="flex flex-col">
                <label for="classifier">Select classifier</label>
        
                <div class="classifier_choices">
                    {% for key, label in classifier_choices.items() %}
                        <div class="classifier_choice">
                            <input type="radio" name="classifier" id="{{ key }}" value="{{ key }}" required>
                            <label for="{{ key }}">{{ label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        
            <div class="flex w-2/3 mt-8">
                <button class="mx-auto bg-gradient-to-b from-blue-300 to-blue-500 hover:bg-blue-500 text-white text-xl px-6 py-2 rounded shadow-md w-2/3" type="submit">
                    Classify
                </button>
            </div>
        </form>
    </main>

    <script>
    </script>
</body>
</html>